<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Layout</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="gridview.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header id="header"> 
        <div class="container">
            <div class="row center">
            <div class="col-xs col-sm-3">
            <img src="https://placehold.co/100x30?text=Patika.dev" alt="Patika.dev Logo" Width="750" Height="550">
        
            </div>
            <div class="col-xs col-sm-9">
            <nav id="nav"> 
                <a class="nav-item" href="#">Menü 1</a>
                <a class="nav-item" href="#">Menü 2</a>
                <a class="nav-item" href="#">Menü 3</a>
                <a class="nav-item" href="#">Menü 4</a>
                <a class="button" href="#">Button</a>
            </nav>
        </div>
    </div>
    </div>
    </div>
    </header>
    <div claass="hero"></div>
    <div class="row center">
        <div class="col-xs col-sm-6">
        <div class="hero-caption">
            <h1>Great design is invisible</h1>
            <p>Lorem ipsum dolor sit amet .</p>
            <a href="button" hred="#">Call to Action</a>

        </div>
        <div class="col-xs col-sm-6">
            <img class="hero-image" src="https://placehold.co/750x550?text=(-_-)" alt="Hero Image" Width="750" Height="550">

        </div>
    </div>

    
</body>
</html>